.container {
  display: flex;
  min-height: calc(100dvh - 70px);
  background: var(--bg-main);
}

.main {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
  }
}
